<html>

<head>
    <meta charset="utf-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Profile</title>
</head>
<style>
    #header {
        background-color: #55b897;
        color: #ffffff;
        height: 60px;
        position: relative;
        font-size: 30px
    }

    #splitwise {
        position: absolute;
        top: 10px;
        left: 20px;
    }
    #welcome {
        position: absolute;
        font-size: 20;
        top: 20px;
        right: 150px;
    }
    body {
        color: #417e69;
    }
    body {
        color: #357761;
    }
    input[type=text] {
        color: #357761;
        font-size: 20;
        border: 0;
        outline: 0;
        border-bottom: 2px solid #357761;
    }
    input[type=password] {
        color: #357761;
        font-size: 20;
        border: 0;
        outline: 0;
        border-bottom: 2px solid #357761;
    }
    #update {
        font-size: 20;
        color: #ffffff;
        background-color:#357761;
        border: 0;
        height: 30px;
        width: 100px;
    }
    #options {
        background-color: #a5dac8;
        height: 50px;
    }
    #b1,
    #b2,
    #changeProfile {
        background-color: transparent !important;
        border: 0 none;
        color: #ffffff;
        font-size: 18;
    }

    #back {
        background-color: transparent !important;
        border: 0 none;
        color: #ffffff;
        font-size: 20;
        position: absolute;
        left: 30px;
        top: 75px;
    }
    #e1 {
        color: #4a9178;
        position: absolute;
        top: 800px;
        width: 1853px;
        text-align: center;
    }
    #e2 {
        color: #4a9178;
        position: absolute;
        top: 800px;
        width: 1853px;
        text-align: center;
    }
</style>
<body>
    <div id="e2">
        {{e.errors.email}}
    </div>
    <div id="e1">
        {{e.errors.password}}
    </div>
    <header id="header">
        <div id="splitwise">
            Splitwise
        </div>
        <div id="welcome">
            Welcome {{user.name}}
        </div>
    </header>
    <div id="options">
        <form id="logout" method="post" action="/users/logout">
            <input id="b1" type="submit" value="Logout" />
        </form>
        <form id="logoutAll" method="post" action="/users/logoutAll">
            <input id="b2" type="submit" value="Logout from all sessions" />
        </form>
        <form method="get" action="/users/me">
            <input id="changeProfile" type="submit" value="Change Profile" />
        </form>
    </div>
    <form id="updateProfile" method="post" action="/users/me">
        Name:
        <input type="text" name="name" value={{user.name}} required><br>
        Password:
        <input type="password" name="password" required><br>
        <input id="update" type="submit" value="Update" />
    </form>
    <form method="get" action="/users">
        <input id="back" type="submit" value="Back">
    </form>
</body>

</html>